@mixin clearfix {
  &::after {
    display: table;
    clear: both;

    content: "";
  }

  &::before {
    display: table;

    content: "";
  }
}
@mixin container {
  min-width: 303px;
  margin-left: auto;
  margin-right: auto;

  @media #{$tablet} {
    width: 648px;
  }
  @media #{$smalldesktop} {
    width: 903px;
  }
  @media #{$bigdesktop} {
    width: 1263px;
    max-width: 1263px;
  }
}
