$mobile-only: "(max-width: 767px)";
$tablet: "(min-width: 768px)";
$smalldesktop: "(min-width: 1023px)";
$bigdesktop: "(min-width: 1280px)";
$nav-link-color: #293038;
$slider-color: #ffffff;
$feature-color: #3c4148;
$COLOR_ORANGE: #f29700;
