.feature {
  width: 100%;
}
.feature__wrap {
  @media #{$tablet} {
    @include container;
  }
}
.feature__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.feature__item {
  display: block;
  border-bottom: 1px solid #dbddde;
  border-left: 1px solid #dbddde;
  border-right: 1px solid #dbddde;
  font-size: 16px;
  @media #{$tablet} {
    display: inline-block;
    vertical-align: bottom;;
    width: 214px;
  }
  @media #{$bigdesktop} {
    width: 251px;
    &:hover {
      background-color: #eeeeee;
    }
  }
}
.feature__link {
  display: block;
  text-decoration: none;
  color: $feature-color;
  padding: 40px;
  font-weight: 600;
  padding-left: 37%;
  position: relative;
  @media #{$tablet} {
    padding-left: 65px;
    padding-right: 0;
  }
  @media #{$bigdesktop} {
    padding-left: 85px;
  }
}
.feature__img {
  position: absolute;
  left: 50px;
  bottom: 50px;
  @media #{$tablet} {
    left: 15px;
  }
}
