.feature {
  width: 100%;
  border-bottom: 1px solid #dbddde;
  margin-bottom: 20px;
}
.feature__wrap {
  @media #{$tablet} {
    @include container;
  }
}
.feature__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.feature__item {
  display: block;
  font-size: 16px;
  @media #{$tablet} {
    display: inline-block;
    vertical-align: bottom;;
    width: 216px;
    &:hover {
      background-color: #eeeeee;
    }
  }
  @media #{$smalldesktop} {
    width: 235px;
  }
  @media #{$bigdesktop} {
    width: 252px;
  }
}
.feature__link {
  display: block;
  text-decoration: none;
  color: $feature-color;
  padding: 40px;
  font-weight: 600;
  padding-left: 35%;
  position: relative;
  min-width: 152px;
  @media #{$tablet} {
    padding-left: 60px;
    padding-right: 0;
  }
  @media #{$bigdesktop} {
    padding-left: 85px;
  }
}
.feature__img {
  position: absolute;
  left: 50px;
  bottom: 40px;
  @media #{$tablet} {
    left: 15px;
    bottom: 50px;
  }
}
