.form {
  padding: 20px 15%;

  box-sizing: border-box;
  & form {
    position: relative;
    width: 100%;
  }
  @media #{$tablet} {
    width: 300px;
    padding: 0;
    float: right;
    padding-top: 60px;
    padding-right: 5%;
  }
  @media #{$smalldesktop} {
    width: 350px;
  }
}
.form__search {
  box-sizing: border-box;
  height: 28px;
  position: relative;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px 0px 1px 2px #e5e5e5;
  &:focus {
    outline: none;
    box-shadow: inset 0px 0px 3px 1px $COLOR_ORANGE;
  }
}
.form__button {
  position: absolute;
  background-color: inherit;
  border: none;
  fill: #d1d1d1;
  right: 4px;
  top: 3px;
  cursor: pointer;
  padding: 3px 5px;
  &:focus {
    outline: none;
  }
  &:hover svg{
    fill: $COLOR_ORANGE;
  }
}
