.logo {
  width: 260px;
  padding-left: 10%;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 40px;
  @media #{$tablet} {
    display: inline-block;
    padding-left: 5%;
  }
}
.logo__link {
  display: block;
}
.logo__discription {
  float: right;
}
.logo__title {
  margin-top: 0;
  margin-bottom: 0;
  color: $COLOR_ORANGE;
}
