.page-header
{
    position: relative;

    width: 100%;
    margin: 0 auto;
    @include clearfix;
    background-color: #fff;
    @media #{$tablet}
    {
        width: 100%;

    }
}
.page-header__wrap {
  @media #{$mobile-only} {
    width: 100%;
  }

}
.page-header__nav-wrap {
  border-top: 1px solid #dbddde;
}
.page-header__container {
  @include container;
}
