#slider-input-1:checked ~ .slider__slide--1 {
  display: block;
}
#slider-input-2:checked ~ .slider__slide--2 {
  display: block;
}
#slider-input-3:checked ~ .slider__slide--3 {
  display: block;
}
#slider-input-4:checked ~ .slider__slide--4 {
  display: block;
}
#slider-input-5:checked ~ .slider__slide--5 {
  display: block;
}
#slider-input-1:checked ~ .slider__toggles label[for="slider-input-1"],
#slider-input-2:checked ~ .slider__toggles label[for="slider-input-2"],
#slider-input-3:checked ~ .slider__toggles label[for="slider-input-3"],
#slider-input-4:checked ~ .slider__toggles label[for="slider-input-4"],
#slider-input-5:checked ~ .slider__toggles label[for="slider-input-5"] {
  background-color: $COLOR_ORANGE;
  border-color: $COLOR_ORANGE;
}
.slider {
  position: relative;
}
.slider__slide {
  box-sizing: border-box;
  width: 100%;
  display: none;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #0e65b7;
  &--1 {
    background-image: url("../img/slider1.jpg");
    background-repeat: no-repeat;
    background-position: center top;
  }
  &--2 {
    background-color: red;
  }
  &--3 {
    background-color: blue;
  }
  &--4 {
    background-color: yellow;
  }
  &--5 {
    background-color: black;
  }
  @media #{$bigdesktop} {
    width: 1263px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
  }
  @media #{$tablet} {
    background-size: cover;
  }
  @media (min-width: 303px) and (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        box-sizing: border-box;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 10px;
        background-color: #0e65b7;
        background-image: url("../img/slider1@2x.jpg");
        background-repeat: no-repeat;
        background-position: center top;
      }
}
.slider__text-wrap {
  width: 90%;
  margin: auto;
  text-align: center;
  height: 370px;
  @media #{$tablet} {
    text-align: left;
  }
  @media #{$bigdesktop} {
    margin-bottom: 20px;
  }
}
.slider__head {
  background-color: $COLOR_ORANGE;
  color: #fff;
  text-transform: uppercase;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  @media #{$tablet} {
    width: 211px;
    padding: 0 5px;
    margin-left: 70px;
  }
}
.slider input[type="radio"] {
  display: none;
}
.slider__toggles {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  @media #{$tablet} {
    bottom: 13px;
  }
  @media #{$bigdesktop} {
    bottom: 20px;
  }
}
.slider__toggle {
  width: 10px;
  display: inline-block;
  height: 10px;
  margin-right: 15px;
  padding: 2px;
  border: 2px solid #dadbdb;
  cursor: pointer;
  &:hover {
    background-color: rgba(250, 250, 250, 0.4);
  }
}
.slider__toggle:last-child {
  margin: 0;
}
.slider__title {
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 1px 0px #3c4148;
  @media #{$tablet} {
    margin-left: 70px;
    font-size: 46px;
    line-height: 40px;
    width: 240px;
  }
  @media #{$bigdesktop} {
    font-size: 60px;
    line-height: 48px;
  }
}
.slider__text {
  max-width: 570px;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  @media #{$tablet} {
    margin-left: 70px;
  }
}
